/* место для вашего кода */

.header {
  padding: 92px 24px 92px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.header__logo {
  display: block;
  width: 138px;
}

.header__menu {
  display: flex;
  padding-left: 24px;
  align-items: center;
}

.header__links-list {
  letter-spacing: 0.1px;
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style: circle;
  font-size: 18px;
  font-weight: 400;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active .header__links-list-item {
  text-decoration: none;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.address-right {
  padding: 5px 0 0 191px;
}

.address-left {
  padding: 0;
}

.header__address {
  padding: 0;
}

.cover {
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.cover__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  padding: 163px 50px 123px;
  z-index: 1;
  line-height: 123px;
}

.aligned-text {
  letter-spacing: 30px;
  display: block;
}

.aligned-text_right {
  /*выбрал padding аналогично  решению с text-center*/
  padding-left: 583px;
}

.aligned-text_center {
  padding-left: 286px; /*написал так потому что используя text-align:center он не совпадал с макетом*/
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 44px 77px;
  z-index: 1;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  word-spacing: 21px;
  align-content: center;
}

.word-spacing-extended {
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding: 12px 32px 11px 31px;
}
.lots {
  padding: 179px 24px 0;
}

.paragraph-text{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
}

.card-link {
  text-decoration: none;
}

.card {
  min-height: 563px;
  padding: 51px 40px 48px;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
  text-decoration: underline solid #ffffff;
}

.card__text {
  color: #ffffff;
  z-index: 1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  padding: 5px 0 0 40px;
  font-weight: 400;
  font-size: 20px;
}

.about {
  padding: 181px 24px 180px;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr;
  gap: 0 25px;
}
.about__logo-container {
  width: 240px;
  height: 240px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 120px;
  justify-self: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  align-self: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.about__text {
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: start;
}
.about__text-paragraph {
  padding: 8px 0 24px;
}

.last_paragraph {
  padding: 0;
}

.footer {
  padding: 0 50px 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__menu {
  display: flex;
  justify-self: center;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  font-weight: 400;
  font-size: 18px;
}

.footer__social-list {
  list-style: none;
  min-width: 240px;
  min-height: 48px;
  display: flex;
  justify-self: end;
  justify-content: space-between;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
